
body{
    background:black;
}
#title
{
    width:60px;
    height: 30px;
}
.header{
    /*background:black;*/
}
/*nav bar*/
.nav-bar
{
    display:flex;
    padding: 40px 120px;
}
.nav-logo img{
    width:150px; 
    margin:0;  
}
.nav-links{
    flex:1;
}
.nav-links ul{
    margin-left:50px;
    display:inline;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size:13px;
}
.nav-links ul li::after{
    content: '';
    width:0;
    height: 2px;
    background:yellow;
    display: block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
} 
/*end navbar*/
.nav-bar .fa{
    display: none;
}
/*responsiveness*/
/*mobile veiw*/
@media(max-width: 700px){
    .nav-bar{
        padding: 10px 30px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size:22px;
        cursor:pointer;
    }
    nav-links{
        height:100vh;
        width: 200px;
        background: #000;
        top:0;
        right:0;
        position: absolute;
        text-align: left;
        z-index: 2;
    }

    .nav-links ul a{
        display: block;

    }
}