*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color:blanchedalmond;
}
body{
    background-color :#000000;
    background-image: linear-gradient(315deg, #7e7c7c 0%, #252525 74%);
}
#title
{
    width:60px;
    height: 30px;
}
.header{
    /*background:black;*/
}
/*nav bar*/
.nav-bar
{
    display:flex;
    padding: 40px 120px;
}
.nav-logo img{
    width:150px; 
    margin:0;  
}
.nav-links{
    flex:1;
    
}
.nav-links ul{
    margin-left:50px;
    display:inline;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size:13px;
}
.nav-links ul li::after{
    content: '';
    width:0;
    height: 2px;
    background:yellow;
    display: block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul a.icon{
    display: none;
}

/*end navbar*/

/*responsiveness*/
/*mobile veiw*/
@media screen and (max-width: 600px) {
    /*.topnav a:not(:first-child) {display: none;}*/
    .nav-links ul a.icon {
      float: right;
      display: block;
    }
  }

/* Banner */
 .banner{
  font-size: 30px;
  font-weight: 500;
}

 .banner-para{
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

 #banner-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: left;
  padding: 100px;
  margin-top: 60px;
}
section .bann{
  flex-direction: row;
  margin-top: 0;
}

.banner-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.banner-img {
  position: absolute;
  top: 220px;
  bottom: 0;
  right: 0;
  height: 90%;
}

/*Banner Button */
.bannerBtn {
  cursor: pointer;
  display: inline-block;
  background: rgb(170, 64, 64);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.bannerBtn:hover {
  transform: scale(0.98);
}



.grid{
    display:block;
    padding:16px;
    display:grid;
    grid-gap:16px;
    grid-template-columns: repeat(2,1fr);
    color:blanchedalmond;
    align-content: center;
    
}
.grid .col{
    background: rgb(10, 10, 10);
    margin-bottom:16px;
    padding:16px;
}
.grid .col img{
    width: 100%;
}
    
@media (max-width: 1068px) {
  .banner-img {
    display: none;
  }
   #banner-section {
    padding: 100px 40px;
  }
}

