*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color:blanchedalmond;
}
body{
    background:black;
}
#title
{
    width:60px;
    height: 30px;
}
.header{
    /*background:black;*/
}
/*nav bar*/
.nav-bar
{
    display:flex;
    padding: 40px 120px;
}
.nav-logo img{
    width:150px; 
    margin:0;  
}
.nav-links{
    flex:1;
}
.nav-links ul{
    margin-left:50px;
    display:inline;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size:13px;
}
.nav-links ul li::after{
    content: '';
    width:0;
    height: 2px;
    background:yellow;
    display: block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
} 
/*end navbar*/
.nav-bar .fa{
    display: none;
}
/*responsiveness*/
/*mobile veiw*/
@media(max-width: 700px){
    .nav-bar{
        padding: 10px 30px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size:22px;
        cursor:pointer;
    }
    nav-links{
        height:100vh;
        width: 200px;
        top:0;
        right:0;
        position: absolute;
        text-align: left;
        z-index: 2;
    }

    .nav-links ul a{
        display: block;

    }
}
/* Banner */
 .banner{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

 .banner-para{
  margin: 20px 0 10px;
  font-size: 1.1rem;
  color: #fff;
}

 #banner-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: left;
  padding: 100px;
  margin-top: 60px;
}
section .bann{
  flex-direction: row;
  margin-top: 0;
}

.banner-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.banner-img {
  position: absolute;
  top: 220px;
  bottom: 0;
  right: 0;
  height: 90%;
}

/*Banner Button */
.bannerBtn {
  cursor: pointer;
  display: inline-block;
  background: rgb(189, 90, 90);
  
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.bannerBtn:hover {
  transform: scale(0.98);
}



.grid{
    display:block;
    padding:16px;
    display:grid;
    grid-gap:16px;
    grid-template-columns: repeat(2,1fr);
    color:blanchedalmond;
    align-content: center;
    
}
.grid .col{
    background: rgb(10, 10, 10);
    margin-bottom:16px;
    padding:16px;
}
.grid .col img{
    width: 100%;
}
    
@media (max-width: 1068px) {
  .banner-img {
    display: none;
  }
   #banner-section {
    padding: 100px 40px;
  }
}

/* Footer */
footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: centers;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: yellow;
}
.footer-bottom{
    
}